# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# PyInstaller
*.manifest
*.spec
# Logs
*.log
*-log*
*.lock
*-lock*
# Unit test / coverage reports
htmlcov/
.tox/
.coverage*
.cache
.pytest_cache/
.ruff_cache/
*.cover
cover/
# Translations
*.mo
*.pot
# Sphinx documentation
docs/_build/
# mkdocs documentation
/site
# PyBuilder
.pybuilder/
target/
# Jupyter Notebook
.ipynb_checkpoints
# pipenv
Pipfile.lock
# poetry
poetry.lock
# pdm
pdm.lock
.pdm.toml
# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
# pytype static type analyzer
.idea/
# scm-version file
aiobot_wh/_version.py
